@font-face { font-family: optima; src: url('@{icon-font-path}Optima.ttf'), url('@{icon-font-path}Optima.eot'), url('@{icon-font-path}Optima.woff'), url('@{icon-font-path}Optima.svg'); }

a { color: @anchor-color; }
a:hover { color: @anchor-color; }

h1,
h2,
h3,
h4 {
	font-family: @font-family-heading;
	text-transform: uppercase;
	letter-spacing: 1.1px;
}
h5 {
	font-size: 1.1em;
	letter-spacing: 1.1px;
}

hr {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: @gray-lighter; 

	margin-top: @line-height-computed * 2;
	margin-bottom: @line-height-computed * 2;

	&.bold {
		border-top-width: 8px;
		border-top-color: black;
	}

	&.no-margin {
		margin: 0;
	}

	&.no-top-margin {
		margin-top: 0;
	}
}

.row-header {
	margin-bottom: 10px;

	h1,h2,h3,h4,h5,h6 {
		margin: 0;
	}

	.more-link {
		padding-left: 0;
		padding-right: 0;
	}

}

p { font-size: @font-size-base; letter-spacing: 1.1px; } 

@media (min-width: @screen-sm) {
	p.fs1-1 { font-size: 1.1em; }
	p.fs1-2 { font-size: 1.2em; }
}
.center { text-align: center; }
.uppercase { text-transform: uppercase; }
.lowercase { text-transform: none; }
.underline { text-decoration: underline; }

/*======================================
=            Browse Content            =
======================================*/
.item {
	letter-spacing: 1.5px;
	line-height: 1.8;
	margin-bottom: 32px;
	text-transform: uppercase;

	a {
		text-decoration: none;
	}

	.brand-name,
	.item-name,
	.item-price {
		display: block;
		margin-bottom: 8px;
	} 

	.item-img {
		display: block;
		margin-bottom: @font-size-base;
	}

	.brand-name {
		color: @brand-mustard;
		font-size: 9px;
		font-weight: 600;
	}

	.item-name {
		color: @gray;
		font-size: 8px;

		.color {
			font-style: italic;
		}
	}

	.item-price {
		color: @gray-dark;
		font-size: 10px;
		font-weight: bold;
	}

	.item-description {
		color: @gray;
		font-size: 10px;
		line-height: 1.7;
		text-transform: none;
	}
}

.item-badge {
	&:after {
		border-radius: 2px;
		content: attr(data-badge-text);
		font-family: @font-family-sans-serif;
		display: block;
		left: 35px;
		top: 10px;
		position: absolute;
		background-color: black;
		font-weight: bold;
		font-size: @font-size-small;
		color: white;
		padding: 2px 4px;
	}
}


@media (min-width: @screen-sm-min) {
	.item {
		.brand-name,
		.item-name,
		.item-price {
			margin-bottom: 10px;
		}

		.brand-name {
			font-size: 11px;
		}

		.item-name {
			font-size: 10px;
		}

		.item-price {
			font-size: 12px;
		}

		.item-description {
			font-size: 12px;
		}
	}
}


/*======================================
=            Table Stuff               =
======================================*/
.table-large {
	background-color: white;
	font-size: @font-size-base;
	text-transform: uppercase;

	&.table {
		border: none;
	}
}

.table-large > tbody > tr > td, .table-large > tbody > tr > th {
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: 1px solid @gray-lighter;
}

.table-large > tbody > tr > td {
	padding: 44px 20px 50px;
}

.table-large > tbody > tr > th {
	padding: 30px 20px;
}







/*======================================
=            Form Stuff                =
======================================*/
form label {
	font-weight: normal;
	font-size: 11px;
	margin-bottom: 9px;
}

.form-control {
	border-color: @form-border-color;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding-top: 22px;
	padding-bottom: 22px;
	font-size: 1.1em;
}

.form-control.input-sm {
	padding-top: 15px; 
	padding-bottom: 15px;
}

select.form-control {
	padding: 10px;
	height: 46px;
}

.form-group {
	margin-bottom: 25px;
}

.has-error .form-control {
	border-color: @form-error-color;
	-webkit-box-shadow: none;
	box-shadow: none;
}



@media (max-width: @screen-xs-max) {
	.row-header {
		.row-title {
			font-size: 14px;
		}
	}
}


@media (min-width: @screen-sm-min) {
	.row-header{
		margin-bottom: 18px;
	}
}