@font-face { font-family: optima; src: url('../fonts/Optima.ttf'), url('../fonts/Optima.eot'), url('../fonts/Optima.woff'), url('../fonts/Optima.svg'); }

h1,
h2,
h3,
h4 {
	font-family: @font-family-heading;
	text-transform: uppercase;
}

hr {
	border-top: 1px solid @gray-lighter;

	&.bold {
		border-top-color: black;
		border-top-width: 8px;
	}
}

.row-header {
	margin-bottom: 10px;

	h1,h2,h3,h4,h5,h6 {
		margin: 0;
	}
}

@media (min-width: @screen-sm-min) {
	.row-header{
		margin-bottom: 18px;
	}
}