.btn {
	font-family: @font-family-heading;
	letter-spacing: 1.5px;
	text-transform: uppercase;
}

.btn-primary,
.btn-inverse,
.btn-warning,
.btn-yellow,
.btn-orange {
	border-width: 1px;
	border-style: solid;
} 

.btn-primary {
	&[disabled] {
		background-color: @brand-primary-disabled;
		border-color: @brand-primary-disabled;
	}

	&:hover {
		background-color: @brand-primary-hover;
		border-color: @brand-primary-hover;
	}
}

.btn-inverse {
	background-color: @brand-inverse;
	border-color: @brand-inverse;
	color: white;

	&:hover {
		background-color: @brand-inverse-hover;
		border-color: @brand-inverse-hover;
		color: white;
	}

	&:active,
	&:focus {
		background-color: @brand-inverse;
		border-color: @brand-inverse;
		color: white;
	}
} 

.btn-yellow {
	background-color: @brand-yellow;
	border-color: @brand-yellow;
	color: @gray-dark;

	&:hover {
		background-color: @brand-yellow-hover;
	}

	&:active,
	&:focus {
		background-color: @brand-yellow;
		border-color: @brand-yellow;
		color: @gray-dark;
	}
}

.btn-maroon {
	background-color: @brand-maroon;
	border-color: @brand-maroon;
	color: white;

	&:hover {
		background-color: black;
		border-color: black;
		color: white;
	}

	&:active,
	&:focus {
		background-color: @brand-maroon;
		border-color: @brand-maroon;
		color: white;
	}
}

.btn-orange {
	background-color: @brand-orange;
	border-color: @brand-orange;
	color: white;

	&:hover {
		background-color: black;
		border-color: black;
		color: white;
	}

	&:active,
	&:focus {
		background-color: @brand-orange;
		border-color: @brand-orange;
		color: white;
	}
}

.btn-black {
	background-color: black;
	border-color: black;
	color: white;
	opacity: 0.25;

	&:hover {
		background-color: black;
		color: white;
		opacity: 0.85;
	}

	&:active,
	&:focus {
		background-color: black;
		border-color: black;
		color: white;
		opacity: 0.25;
	}

}

.btn-link {
	color: @gray-dark;
	font-family: @font-family-serif;
	text-decoration: none;
	text-transform: uppercase;

	&.btn-xs,
	&.btn.sm {
		letter-spacing: 1px;
	}

	span {
		border-bottom: 1px solid @gray-light;
		display: block;
		line-height: 1.2;
	}

	&:hover {
		color: @brand-orange;
		text-decoration: none;

		span {
			border-bottom-color: @brand-orange;
		}
	}

	&:active,
	&:focus {
		color: @gray-dark;
		text-decoration: none;

		span {
			border-bottom-color: @gray-light;
		}
	}

}

.btn-popover {
	background-clip: padding-box;
	border-radius: @font-size-base * 2;
	box-sizing: content-box;
	margin: 6px;
	padding: 0;
	position: relative;

	> span {
		background: #fafafa;
		border: 1px solid @gray-lighter;
		border-radius: @font-size-base * 2;
		box-sizing: content-box;
		color: @gray-light;
		line-height: 1;
		display: block;
		padding: 3px;
		position: relative;
		text-align: center;
		width: @font-size-base; height: @font-size-base;
		z-index: @zindex-popover + 1;

		-webkit-transform: rotate(-45deg);
		-webkit-transform-origin: 50% 50%;
	}

	.popover {
		background: white;
		border: 1px solid @gray-lighter;
		box-shadow: none;
		color: @gray;
		font-family: @font-family-serif;
		font-size: @font-size-base;
		line-height: @line-height-computed;
		margin: 0;
		text-transform: none;
		max-width: 330px;
		width: 330px;

		top: 50% !important;
		left: 50% !important;

		.arrow {
			display: none;
		}

		.popover-content {
			padding: 22px 24px;
		}
	}

	&[data-position~="left"] .popover {
		right: 50% !important;
		left: auto !important;
	}
	&[data-position~="right"] .popover {
		left: 50% !important;
	}
	&[data-position~="top"] .popover {
		bottom: 50% !important;
		top: auto !important;
	}
	&[data-position~="bottom"] .popover {
		top: 50% !important;
	}


	&.expanded {
		border-color: @gray-lighter;
		border-width: 1px;
		// box-shadow: 0 0 1px @gray-light;
		margin: 0;

		> span {
			background: black;
			border-color: white;
			border-width: 3px;
			color: white;

			padding: ceil(@font-size-base / 2);
			-webkit-transform: rotate(0deg);
		}
	}
}




.page-top-btn {
	background-color: transparent;
	border: 1px solid @gray-lighter;
	color: black;
	padding: 5px;

}

.next-btn,
.prev-btn {
	border: none;
	border-radius: @btn-nextprev-size;
	color: white;
	font-family: @font-family-sans-serif;
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 0;
	text-transform: uppercase;
	width: @btn-nextprev-size; height: @btn-nextprev-size;

	&.btn-lrg {
		border-radius: @btn-nextprev-lg-size;
		width: @btn-nextprev-lg-size; height: @btn-nextprev-lg-size;
	}

	&.btn-sm {
		border-radius: @btn-nextprev-sm-size;
		width: @btn-nextprev-sm-size; height: @btn-nextprev-sm-size;
	}

	.glyphicon {
		font-size: 35px;
	}
}
.next-btn {
	// padding-left: @btn-nextprev-padding;
	text-align: left;
}
.prev-btn {
	// padding-right: @btn-nextprev-padding;
	text-align: right;
}

.round-btn {
	border-radius: @btn-round-sm-size;
	font-family: @font-family-sans-serif;
	font-size: 12px;
	font-weight: bold;
	width: @btn-round-size; height: @btn-round-size;

	&.btn-sm {
		font-size: 8px;
		width: @btn-round-sm-size; height: @btn-round-sm-size;
	}
}

.btn-row {
	display: block;
	margin: 0 0 @line-height-computed;
	padding: 0;
	position: relative;
	text-align: center;

	&:after {
		border-bottom: 1px solid @gray-lighter;
		content: '';
		display: block;
		position: absolute;
		top: 18px;
		width: 100%; height: 1px;
		z-index: -2;
	}

	.round-btn {
		margin: 0 auto;
		z-index: 2;

		&:before {
			background-color: white;
			content: '';
			display: block;
			margin: 0 0 0 (@padding-base-horizontal * -1 - 10);
			position: absolute;
			top: 0;
			width: (@btn-round-size + 10*2); height: 100%;
			z-index: -1;
		}

		&.btn-sm:before {
			width: (@btn-round-sm-size + 10*2);
		}
	}
}

.arrow-entity {
	font-family: sans-serif;
	font-size: 25px;
}

.arrow {
	overflow: hidden;

	.arrow-dots {
		background: url('..img/arrow-dots.png') repeat-x;
		height: 5px; width: 40px;
		float: left;
	}

	.arrow-head {
		background: url('../img/icon-sprite.png') repeat-x -77px 0;
		height: 5px; width: 3px;
		margin-left: 8px;
		float: left;
	}
}


.modal-dialog {
	width: 100%;
}

.modal .close {
	opacity: 1;
	font-size: @font-size-base;
	text-decoration: underline;
	text-transform: uppercase;
	font-family: @font-family-heading;
}



.panel-default {
	border: none;
}

.panel-default > .panel-heading {
	border: none;
	background-color: transparent;
}

.panel .plus {
	color: @brand-orange;
}


.dropdown > button {
	height: 30px;
	width: 100%;
	border: 1px solid @gray-lighter;
	background-color: white;
	cursor: pointer;
	text-align: left;

	&:hover {
		background-color: white;
		border: 1px solid @gray-lighter;
	}

	&:active {
		box-shadow: none;
	}
}

/*.dropdown.dropdown-unbordered > button {
	border: none;
}*/

.open > .dropdown-toggle.btn-default  {
	background-color: white;
	border: 1px solid @gray-lighter;
}


.dropdown-selector .caret {
	margin: 12px auto;
	display: block;
}

.dropdown-selector .plus {
	line-height: 30px;
	text-align: center;
	width: 100%;
	display: inline-block;
}

.dropdown-selector {
	position: absolute;
	right: 0;
	height: 30px;
	top: 0;
	width: 17%;
	border-left: 1px solid @gray-lighter;
}

/*.dropdown.dropdown-unbordered .dropdown-selector {
	border: none;
}*/

.open .dropdown-selector {
	background-color: @brand-orange;
}

.open .caret, .open .plus {
	border-top-color: white;
	color: white;
}

.dropdown-menu {
	box-shadow: none;
	border-radius: 0;
	width: 100%;
	margin-top: 0px;
	font-size: 12px;
	border: 1px solid @gray-lighter;
	border-top: none;
}

.dropdown-menu h3 {
	margin-bottom: 22px;

}

.dropdown-menu li {
	margin-bottom: 12px;
}

.dropdown-menu > li > a {
	padding: 0px 12px;
	white-space: normal;
}



.tooltip-inner {
	padding: 5px 12px 3px;
	font-size: @font-size-large;
	font-style: italic;
}



.size-table > tbody > tr > td {
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	padding: 24px 0 20px;
	border-color: @gray-lighter;
	cursor: pointer;
	position: relative;
}

.size-table > tbody > tr > td:hover {
	background-color: @gray-lighter;
}

.size-table > tbody > tr > td.selected {
	background-color: #f4f4f4;
}

.size-table > tbody > tr > td.disabled {
	background-color: #f4f4f4;
	color: @gray-light;
	cursor: default;
}

.size-table > tbody > tr > td.disabled:after {
	content: " ";
	position: absolute; /* allows to position it anywhere */
	display: block;
	height: 100%; width: 100%;
	top: 0;
	margin: 0 0 20px 0;
	background-color: transparent;
	background-size: 20px 20px;
	background-image:
	 -webkit-repeating-linear-gradient(-45deg, @gray-lighter, @gray-lighter 1px, transparent 1px, transparent 14px);
	background-image:
	 -moz-repeating-linear-gradient(-45deg, @gray-lighter, @gray-lighter 1px, transparent 1px, transparent 14px);
	background-image:
	 -o-repeating-linear-gradient(-45deg, @gray-lighter, @gray-lighter 1px, transparent 1px, transparent 14px);
	background-image:
	 repeating-linear-gradient(-45deg, @gray-lighter, @gray-lighter 1px, transparent 1px, transparent 14px);
	    /* transform-origin sets rotation around top left (instead of the geometrical center) */
}



.size-chart > tbody > tr > th {
	font-weight: bold;
	border-left: none;
	border-right: none;
}

.size-chart > tbody > tr > td {
	border-left: none;
	border-right: none;
}



ul.list-unstyled {
	margin-bottom: 22px;
	padding-top: 10px;
}

ul.list-unstyled li {
	margin-bottom: 12px;
	font-size: 14px;
	text-transform: none;
}

ul.list-unstyled.list-uppercase li {
	text-transform: uppercase;
	font-size: 12px;
}

ul.list-unstyled li.list-header {
	margin-bottom: 19px;
	font-size: 14px;
	font-family: @font-family-heading;
	text-transform: uppercase;
}

ul.list-unstyled li.list-selected {
	font-weight: bold;
}

ul.list-unstyled li.list-separator {
	border-bottom: 1px solid @gray-lighter;
}

ul.list-unstyled:last-child {
	border-bottom: none;
}





@media (max-width: @screen-sm) { /* for smaller than a tablet */
	.dropdown-menu li {
		font-size: 14px;
	}
}



@media (max-width: @screen-xs-max) {
	.btn-link {
		&.btn-xs,
		&.btn-sm {
			font-size: 9px;
		}
	}
}


@media (min-width: @screen-md-min) {
	.prev-btn,
	.next-btn {
		border-radius: @btn-nextprev-size;
		font-size: 12px;
		width: @btn-nextprev-size; height: @btn-nextprev-size;
	}

	.btn-row {
		&:after {
			top: 22px;
		}

		.round-btn {
			&:before {
				margin-left: (@padding-base-horizontal * -1 - 27);
				width: (@btn-round-size + 27*2);
			}
		}
	}

	.arrow-entity {
		font-size: 35px;
	}
}













